@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.about-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem 0;
}

.about-line {
  width: 5px;
  height: 3rem;
  background: linear-gradient(90deg, #3a5226, #371e12);
  border-radius: 0.5rem;
}

.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem 0;
}

.abt-head h1 {
  color: #212b43;
  font-size: 2rem;
  font-family: "Montserrat", "serif";
  text-align: center;
}

.abt-head p {
  text-align: center;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.abt-img-main {
  position: relative;
  width: 100%;
  max-width: 700px;
  height: 300px;
  margin: 4rem 5rem;
}

.abt-img-back {
  position: relative;
  top: 0;
  left: 0;
  width: 60%;
  height: 80%;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.abt-img-back:hover {
  transform: translate3d(50px, 0px , -200px);
  transition: all 5s ease-in-out;
}

.abt-img-fore {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60%;
  height: 70%;
  border-radius: 10px;
  border: 4px solid white;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.abt-img-fore:hover {
  transform: translate3d(50px, 0px , -200px);
}

.abt-fore {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.abt-main-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.abt-content-para p {
  width: 90%;
  margin-top: 1rem;
  color: #212b43;
  font-weight: 500;
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: justify;
}

.abt-icon {
  color: #212b43;
  padding-right: 0.8rem;
}

.abt-icon-link {
  color: #212b43;
  text-decoration: none;
}

.abt-icon-link:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .abt-back {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .abt-img-main {
    margin: 0;
  }

  .abt-main-sec {
    flex-direction: column;
  }

  .abt-content-para {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .abt-content-para p {
    width: 80%;
    color: #212b43;
    font-weight: 500;
    text-align: justify;
    font-size: 0.8rem;
  }
}

@media ((min-width: 601px) and (max-width:950px)) {
  .abt-img-main {
    margin: 0;
  }

  .abt-main-sec {
    flex-direction: column;
  }

  .abt-content-para {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .abt-content-para p {
    width: 80%;
    color: #212b43;
    font-weight: 500;
    text-align: justify;
    font-size: 1.2rem;
  }
}

@media ((min-width: 951px) and (max-width:1100px)) {
  .abt-content-para {
    width: 100%;
  }
  .abt-img-main {
    margin: 1rem;
  }
  .abt-content-para p {
    width: 90%;
    text-align: justify;
    /* margin: 0 2rem 0 0; */
  }
}
