* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.fp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100dvh;
  background-color: #ecf0f9;
}

.fp-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fp-image {
  width: 20%;
  height: 100%;
  object-fit: cover;
}

.forgot-pass {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #212b43;
  width: 40%;
  border-radius: 20px;
  margin-bottom: 4rem;
}

.forgot-pass h1 {
  color: white;
  font-size: 3rem;
  display: inline-block;
  border-bottom: 2px solid #ecf0f9;
  margin: 2rem 0;
}

.fp-lbl {
  color: white;
  font-size: 1rem;
  margin-bottom: 4px;
}

.fp-inp-main {
  width: 100%;
  border: 2px solid #ecf0f9;
  padding: 0 3rem;
  background-color: #ecf0f9;
  border-radius: 1rem;
  margin: 4px 0;
}

.rst-inp-main {
  width: 100%;
  border: 2px solid #ecf0f9;
  padding: 0 1rem;
  background-color: #ecf0f9;
  border-radius: 1rem;
  margin: 4px 0;
}

.rst-icon {
  color: #212b43;
  font-size: 1.3rem;
}

.fp-inp {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.2rem;
  color: #212b43;
  padding: 8px 0.5rem;
  border: none;
  outline: none;
  border-radius: 1rem;
  width: 500px;
  margin: 5px 0;
  background-color: #ecf0f9;
  text-align: left;
}

.fp-btn-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fp-btn {
  border: none;
  outline: none;
  font-size: 1rem;
  color: #212b43;
  background-color: #ecf0f9;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  cursor: pointer;
  font-weight: 600;
}

.fp-msg {
  color: #ecf0f9;
  font-size: 1rem;
  text-align: left;
}

@media (max-width: 425px) {
  .fp-image {
    width: 50%;
  }

  .forgot-pass {
    width: 95%;
  }

  .forgot-pass h1 {
    font-size: 1.5rem;
  }

  .fp-lbl {
    font-size: 1rem;
  }

  .rst-inp-main {
    border: 2px solid #ecf0f9;
    padding: 0 1rem;
    background-color: #ecf0f9;
    border-radius: 1rem;
    margin: 4px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .rst-icon {
    color: #212b43;
    font-size: 0.8rem;
  }

  .fp-inp {
    width: 100%;
    font-size: 1rem;
    font-weight: 100;
  }

  .fp-btn {
    border: none;
    outline: none;
    font-size: 0.8rem;
    color: #212b43;
    background-color: #ecf0f9;
    text-align: center;
    padding: 0.5rem;
  }

  .fp-msg {
    font-size: 0.8rem;
  }
}

@media ((min-width: 426px) and (max-width: 768px)) {
  .fp-image {
    width: 50%;
  }

  .forgot-pass {
    width: 90%;
  }

  .forgot-pass h1 {
    font-size: 2rem;
  }

  .fp-lbl {
    font-size: 1.2rem;
  }

  .fp-inp {
    width: 300px;
    font-size: 1rem;
    font-weight: 100;
  }

  .fp-btn {
    border: none;
    outline: none;
    font-size: 1rem;
    color: #212b43;
    background-color: #ecf0f9;
    text-align: center;
    padding: 0.5rem;
  }

  .fp-msg {
    font-size: 1rem;
  }
}

@media ((min-width:769px) and (max-width: 1024px)) {
  .fp-image {
    width: 40%;
  }

  .forgot-pass {
    width: 80%;
  }

  .forgot-pass h1 {
    font-size: 3rem;
  }

  .fp-lbl {
    font-size: 1.5rem;
  }

  .fp-inp {
    width: 300px;
    font-size: 1.2rem;
    font-weight: 100;
  }

  .fp-btn {
    border: none;
    outline: none;
    font-size: 1.2rem;
    color: #212b43;
    background-color: #ecf0f9;
    text-align: center;
    padding: 0.5rem;
  }

  .fp-msg {
    font-size: 1.2rem;
  }
}
